<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <!-- <form id="entry" method="POST" action="/_check">  looks like this part calls the check function in the python script
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
    <input type="submit" name="try" />
  </form>
  -->

  <form id="entry" action="/_check" method="POST">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>


<div id="result"></div>

<script>
  

$("#entry").submit( function(event) {
   event.preventDefault();
  });


$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);

   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }


    $.getJSON("/_check", {text: txt},

        function(data) {
          //data from check
          matchess = data.matches.matches;
          message = data.messages.message;
          semaphore = data.semaphores.matchFlag;
          goalNum = 3;


          
          console.log("matchess: " + matchess);

          if (message != "") {
            console.log("message: " + message);
          }
          console.log("semaphore: "+ semaphore);

          //send message to messages
          $("#message").html(message)

          if (semaphore) {
            $("#results").html(matchess.join(' '));
            $("#attempt").val("");

          }
          if (matchess.length == goalNum) {
            document.location.href = "success"
          }

        }

      );

    });
    /*
    $.getJSON( "/_countem", { text: txt }, 
              function(data) {
                rsval = data.result.long_enough;
                console.log("rsval: " + rsval)
                if (rsval) {
                   $("#response").html("That's enough!");
                   $("#attempt").val("");
                } else {
                   $("#response").append(txt.length + " "); 
                }
                showTiles(txt);
               }
           );


    $.ajax({
      url: '/_check',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response, data) {
                $( "#result" ).empty().append( data );
                console.log("succcess");
            },
            error: function(error) {
              console.log("error");
            },
    }); 
*/


</script>

<br />


<h2>You found </h2>

<p id="results"> </p>

<p id="message"> </p>

{% if session.matches|length is not equalto 0  %}






  {% for match in session.matches %}
  {{ match }} 
  {% endfor %}

{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}





 </div> <!-- container -->

</body> </html>
